@inherits LearnBlazorBase
@page "/learnblazor"
<h3 class="text-info pb-3">@WelcomeText</h3>

<p>On change &nbsp; <input @bind="name" /></p>
<p>On spontaneous &nbsp; <input @bind="name" @bind:event="oninput" /></p>

<p>I am @(name!=null ?name:"_____")</p>

<p><button @onclick="getName">Surprise me!</button></p>